In [2]:
# Task1
list=[7,5,3,0,2]
def sumlist(list):
    return (list)
sumlist(list)

[7, 5, 3, 0, 2]

In [18]:
# task2
def present(roll_number, present_students):
    if roll_number in present_students:
        return "Present"
    else:
        return "Absent"
        
present_students = [101, 102,103,104,105]

roll_number = 101
res=present(roll_number,present_students)
print(res)

Present

In [8]:
# task 3
class student:
    def __init__(self, name, age):
        self.name = name
        self.age = age
s1=student("Mahnoor",23)
print(s1.name,s1.age)
student.name = "Nimra"
student.age = 43753
print("Update name",student.name)
print("Update age",student.age)

Mahnoor 23
Update name Nimra
Update age 43753

In [11]:
#task4
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=student("Mahnoor",23)
print(p1.name,p1.age)
p2=student("Laiba",22)
print(p2.name,p2.age)
p3=student("Nimra",22)
print(p3.name,p3.age)

Mahnoor 23
Laiba 22
Nimra 22

In [22]:
# task5
class student:
    def __init__(self,name,age,grade):
        self.name=name
        self.age=age
        self.grade=grade

    def average_grade(self):
        total = sum(self.grade)
        count = len(self.grade)
        return total / count


s1 = student("Mahnoor", 21, [85, 90, 78])

average = s1.average_grade()
print(s1.name, "has an average grade of", average)

Mahnoor has an average grade of 84.33333333333333